body{
    margin:0;
    padding:  0;
    font-family: sans-serif;
    background: url(img02.jpg);
    background-size: cover; }

.box{
    width: 300px;
    padding: 30px;
    position: absolute;
    border-radius: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:rgba(250, 102, 33, 0.4);
    text-align: center;
}

.box h1
{
    color: rgb(8, 8, 8);
    text-transform: uppercase;
    font-weight: 700;
 }

 .box input[type="text"],.box input[type="password"]
 {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid blue;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: rgb(12, 11, 11);
    border-radius: 10px;
    transition: 0.25px;
 }

 .box input[type="text"]:focus,.box input[type="password"]:focus
 {
    width: 270px;
    border-color: yellow;
 
 }
 
 .box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid yellow;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: rgb(34, 1, 1);
    border-radius: 10px;
    transition: 0.25px;
    cursor: pointer;

 }
 .box input[type="submit"]:hover{
    background: yellow;
 }